<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PottyPlanner</title>
    <link rel="icon" class="favicon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>
        <div class="website-name">Potty Planner</div>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn">
            <img src="/images/ham-menu.svg" alt="Menu Icon">
        </label>
        <div class="wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profiles">Students</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/feedback">Feedback</a></li>
            </ul>
        </div>
    </header>

    <div class="homepage-visual">
        <div class="parallax-image"></div>
        <a href="/login"> <button class="login-button">Login</button> </a>
        <button class="learn-morebutton" id="learn-more-button">Learn More</button>
        <h1 class="welcome-text"> Welcome to the Potty Planner App! </h1>
    </div>

    <div class="Learn-More" id="learn-more-section">
        <div class="homepage-learnmore">
            <h1> Learn More </h1>
        </div>
        <table class="Learn-more-section"> 
            <tr>
                <td>
                    <div class="learn-more-content">
                        <div class="learn-more-text">
                            The Potty Planner app is a web-based tool designed to streamline bathroom break management within schools. <br> <br> Teachers can easily track student bathroom visits by starting and stopping timers with a simple click. <br> <br> This provides a clear history of each student's bathroom usage, accessible to all staff, allowing for better monitoring and support.
                        </div>
                        <img src="/images/teacher-1.jpg" alt="Learn More Image" class="learn-more-image">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>