<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" class="favicon" type="image/x-icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="background-image: url('/images/Hallway.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"></body>


    <div class="box">
        <div class="pplogo">
            <a href="/">
                <img src="/images/logo.png" alt="Potty Planner Logo" class="logo">
            </a>
        </div>
        <form action="/login" method="POST">
            <h1>Login</h1>
            <div class="inputbox">
                <input type="text" placeholder="Email" name="email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Password" name="password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="forgot">
                <p>Don't have an account? <a href="/register">Register here</a></p>

            </div>
        
            <button type="submit" class="buton">Login Here!</button>
        
            <% if (typeof error !== 'undefined') { %>
              <p style="color: red;"><%= error %></p>
            <% } %>
        </form>
        
    </div>
</body>
</html>