<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>potty planner</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="logo">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="website-name" >Potty Planner</div>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars">Menu</i></label>
    <div class="wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profiles">Students</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </header>
  <table class="StudentsTable">
    <tr>
        <td>
            <div class="box-images">
                <img src="/images/soccer.webp">
            </div>
            <div class="container">
                <h1>Student A</h1>
            </div>
            <div class="time" id="time0">
                <span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span>:<span class="count">00</span>
            </div>
            <button class="button-timer" id="start0">Start</button>
        </td>
        <td>
            <div class="box-images">
                <img src="/images/soccer.webp">
            </div>
            <div class="container">
                <h1>Student B</h1>
            </div>
            <div class="time" id="time1">
                <span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span>:<span class="count">00</span>
            </div>
            <button class="button-timer" id="start1">Start</button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="box-images">
                <img src="/images/soccer.webp">
            </div>
            <div class="container">
                <h1>Student C</h1>
            </div>
            <div class="time" id="time2">
                <span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span>:<span class="count">00</span>
            </div>
            <button class="button-timer" id="start2">Start</button>
        </td>
        <td>
            <div class="box-images">
                <img src="/images/soccer.webp">
            </div>
            <div class="container">
                <h1>Student D</h1>
            </div>
            <div class="time" id="time3">
                <span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span>:<span class="count">00</span>
            </div>
            <button class="button-timer" id="start3">Start</button>
        </td>
    </tr>
</table>  

<script src="/js/script.js"></script>
<div class="addStudentbutton">
<button class="button-addstudent" id="addStudent">Add Student</button></div>
</body>
</html>