<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The PPL app</title>
    <link rel="icon" class="favicon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/stats.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>
        <div class="website-name">Potty Planner</div>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn">Menu</label>
        <div class="wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profiles">Students</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
        </div>
    </header>

    <table class="graphsTable">
        <tr>
            <td>
                <div class="box-images">
                    <img src="/images/graph1.png">
                </div>
                <div class="container">
                    <h1>Student A</h1>
                    <figcaption class="gtext">Total Time Out: [time out]</figcaption>
                </div>
            </td>
            <td>
                <div class="box-images">
                    <img src="/images/graph2.png">
                </div>
                <div class="container">
                    <h1>Student B</h1>
                    <figcaption class="gtext">Total Time Out: [time out]</figcaption>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box-images">
                    <img src="/images/graph3.png">
                </div>
                <div class="container">
                    <h1>Student C</h1>
                    <figcaption class="gtext">Total Time Out: [time out]</figcaption>
                </div>
            </td>
            <td>
                <div class="box-images">
                    <img src="/images/graph4.png">
                </div>
                <div class="container">
                    <h1>Student D</h1>
                    <figcaption class="gtext">Total Time Out: [time out]</figcaption>
                </div>
            </td>
        </tr>

</body>
</html>