<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potty Planner: Stats</title>
</head>
<body>
    <link rel="stylesheet" href="/css/stats.css">
    
    <div class="topnav">
        <a href= "/"><img src="/images/logo.png" alt="Potty Planner Logo" class="logo"></a>
        <div class="nav-content">
            <h1>Stats</h1>
        </div>
      </div>

      <div class="h2">
        <br><br><br><br><br> <h2>Stats of [students name]</h2>
      </div>

    <div class="graphs">
        <div class="w">
                <a href= "/stats"><img src="/images/graph1.png" alt="GraphUno" class="graph"></a>
                <figcaption class="gtext">Total Time Out: [time out]</figcaption>
         </div>
        <div class="besiding">
                <a href= "/stats"><img src="/images/graph2.png" alt="GraphDos" class="graph"></a>
                <figcaption class="gtext">Total Time Out: [time out]</figcaption>
        </div>
         <div class="w">
                <a href= "/stats"><img src="/images/graph3.png" alt="GraphTres" class="graph"></a>
                <figcaption class="gtext">Total Time Out: [time out]</figcaption>
         </div>
         <div class="besiding"> 
                <a href= "/stats"><img src="/images/graph4.png" alt="GraphQuatro" class="graph"></a>
                <figcaption class="gtext">Total Time Out: [time out]</figcaption>
        </div>  
    </div>

</body>
</html>