<!DOCTYPE html>
<html lang="en">
    <script src="public/js/script.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>potty planner</title>
    <script src="/public/js/script.js"></script>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      </head>
</head>
<body>
    <h1>Potty Planner</h1>
    <h2>Student lists:</h2>
    <div class="timer-display-id">
        <h2>Timer</h2>
        <p id="timer">00:00:00 </p>
        <button id="start-timer" onclick="start()">Start </button> 
        <button id="stop-timer" onclick="stop()">Stop  </button> 
        <button id = "reset-timer" onclick ="reset()">Reset </button>
      </div>
      <script>
        const ret = document.getElementById("timer");
        const startBtn = document.querySelector("#start-timer");
        const stopBtn = document.querySelector("#stop-timer");
        const resetBtn = document.querySelector("#reset-timer");
        let counter = 0;
        let interval;

        function stop() {
            clearInterval(interval);
            startBtn.disabled = false;
            stopBtn.classList.remove("active");
        }

        function convertSec(cnt) {
            let sec = cnt % 60;
            let min = Math.floor(cnt / 60);
            if (sec < 10) {
                if (min < 10) {
                    return "0" + min + ":0" + sec;
                } else {
                    return min + ":0" + sec;
                }
            } else if ((min < 10) && (sec >= 10)) {
                return "0" + min + ":" + sec;
            } else {
                return min + ":" + sec;
            }
        }

        function start() {
            startBtn.disabled = true;
            startBtn.classList.add("active");
            stopBtn.classList.remove("active");
            resetBtn.classList.remove("active");
            interval = setInterval(function() {
                ret.innerHTML = convertSec(counter++); // timer start counting here...
            }, 1000);
        }

        function reset() {
            startBtn.disabled = false;
            counter = 0; // Reset the counter to zero
            ret.innerHTML = convertSec(counter);
            resetBtn.classList.add("active");
            startBtn.classList.remove("active");
            stopBtn.classList.remove("active");
        }
    </script>
      <script src="public/js/script.js"></script>
    <p>Period list: </p>
    <div class="btn-group" style="width:100%">
    <button style="width:25%">Period 1</button><br>
    <button style="width:25%">Period 2</button><br>
    <button style="width:25%">Period 3</button><br>
    <button style="width:25%">Period 4</button><br>
    </div>

    <input type="checkbox" id="active">
    <label style="background-color: white;"for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    
    <div class="wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="title">
        Fullscreen Overlay Navigation Bar</div>
      <p>
        with HTML & CSS Neon Effect</p>
    </div>
</body>
</html>