<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/public/js/script.js"></script>
    <title>potty planner</title>
</head>
<body>
    <p>Potty Planner</p>
    <h1>Student lists:</h1>
    
</body>
</html>