<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="/css/stats.css">
    
    <div class="topnav">
        <a href= "/stats"><img src="/images/PPLogo.png" alt="Potty Planner Logo" class="logo"></a>
        <div class="nav-content">
            <h1>Stats</h1>
        </div>
      </div>
    <div class="stats">
        
        <b><p>Amount of Time Outside the Class Today: </p>
        <p>Amount of Time Outside the Class this Week: </p>
        <p>Amount of Time Outside the Class this Month: 0</p>
        <p>Amount of Time Outside the Class this Semester : 0</p></b>
    </div>
</body>
</html>