body {
    background-color: darkgreen;
}
.button {
    background-color: #fffc33;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
    color: rgb(238, 255, 0);
  }
