body {
    background-color: rgb(118, 193, 231);
    padding-top: 100px; 
}

html, body {
  overflow-x: hidden; 
  overscroll-behavior: none;
}
header {
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, #1cc7d0, #2ede98);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  z-index: 1000; 
  top: 0;
}

.logo {
  align-items: center;
}

.logo img {
  max-width: 8%;
  height: auto;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.website-name {
  font-size: 250%;
  font-weight: bold;
  white-space: nowrap;
  font-family: cursive;  
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 1002;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; 
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  .StudentsTable {
    text-align: center;
    width: 80%;
    margin: 5% auto;
    border-spacing: 20px;
    border-collapse: separate;
    table-layout: fixed;
  }

  .StudentsTable td {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#b5e2ff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
  }

  .StudentsTable td:hover {
    transform: scale(1.1); /* Makes the cell grow slightly */
    background-color: #9cd3ff; /* Changes color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 0, 166, 0.8);
}

  .container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
  }

  .box-images {
    display: flex;
    justify-content: center;  
    align-items: center;     
    width: 100%;
  }
  
  .box-images img {
    width: 30%;
    height: auto;
    border-radius: 100%;
  }

  .button-timer {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 30px;
    transition: all 0.3s ease;
    border: none; 
    cursor: pointer; 
}

.button-timer:after {
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}

.button-timer:hover:after {
    transform: scaleY(1);
}

.button-timer:hover {
    color: #fff;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.digit {
  font-size: 150px;
  color: #fff;
}

.txt {
  font-size: 30px;
  color: #fffcd6;
}

.button-addstudent {
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 40px;
  transition: all 0.3s ease;
  border: none; 
  cursor: pointer; 
}

.button-addstudent:after {
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}

.button-addstudent:hover:after {
  transform: scaleY(1);
}

.button-addstudent:hover {
  color: #fff;
}

.addStudentbutton {
  text-align: center;
  margin: 20px;
}